header{
    width: 100%;
    height: 70px;
    background: dodgerblue;
    nav{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            color: #fff;
        }
        .collection{
            display: flex;
            height: 80px;
            list-style: none;
            align-items: center;
            .item{
                margin: 0 12px;
            }
            a{
                text-decoration: none;
                color: #fff;
                &:hover{
                    color: navy;
                }

            }
        }
    }
}